<div class="container nav-wrapper">
  <a class="logo" title="Programiz PRO Logo" href="https://programiz.pro/"
    ><span class="logo__img-wrapper"
      ><img
        alt="logo"
        loading="lazy"
        width="61"
        height="21"
        decoding="async"
        data-nimg="1"
        style="color: transparent"
        src="/../../assets/images/programiz-pro-logo.svg" /></span
    ><span class="logo-tag">Pro</span></a
  >
  <ul class="nav__list" title="Other Tools">
    <li class="nav__item">
      <div class="undefined">
        <button class="dropdown-button tool-select">
          <div class="tool-text">YAML Validator</div>
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="chevron-down"
            color="#FFF"
            style="color: #fff"
            height="12"
            width="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</div>
